# https://hardcover.app/account/api
# without the Bearer prefix
HARDCOVER_API_KEY=abcd1234

# including protocol and port, not including trailing slash
KOMGA_HOST=http://127.0.0.1:25600
KOMGA_API_KEY=
KOMGA_BOOKS_LIBRARY_ID=